@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-styles-wrapper {
  @apply font-sans;

  h1,
  h2 {
    @apply font-anton text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mt-6 mb-4;
  }

  p {
    @apply font-sans text-sm md:text-base mb-4;
  }
  .wp-block-acf-home-section h1 {
    @apply !font-anton !fluid-text-lg !uppercase !text-center !my-8;
  }
}
