@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-styles-wrapper {
  @apply font-sans;

  h1,
  h2,
  h3 {
    @apply font-anton text-2xl;
  }
}
